
/Saved
Saved/Config/WindowsEditor/Project.ini
/Saved
Saved/Autosaves/Game/Blueprints/Bow/BP_BowPro_Auto1.uasset
Saved/Autosaves/Game/VRTemplate/Maps/VRTemplateMap_Auto2.umap
Saved/AutoScreenshot.png
Saved/Config/CrashReportClient/UECC-Windows-1B0BBF9147D69189E4914DBD5E4A566B/CrashReportClient.ini
Saved/Config/CrashReportClient/UECC-Windows-20819ADB4EA84B5227EFC2B38C0C8718/CrashReportClient.ini
Saved/Config/CrashReportClient/UECC-Windows-2243086B43A574C2411AC39D20D35845/CrashReportClient.ini
Saved/Config/CrashReportClient/UECC-Windows-4371C87E41CCC0D0940B1E85F21BB269/CrashReportClient.ini
Saved/Config/CrashReportClient/UECC-Windows-5198B717472F0014DB3FDC8E3E2184CB/CrashReportClient.ini
Saved/Config/CrashReportClient/UECC-Windows-65820FD94DEBBB54A00304999040C13E/CrashReportClient.ini
Saved/Config/CrashReportClient/UECC-Windows-730CAA204188E48CFC1BA9862E16C864/CrashReportClient.ini
Saved/Config/CrashReportClient/UECC-Windows-7B50AE9B4CDF4E8251105BA0A9966630/CrashReportClient.ini
Saved/Config/CrashReportClient/UECC-Windows-7FD5F2E949CB619E9B3276ACF7CAE2FD/CrashReportClient.ini
Saved/Config/CrashReportClient/UECC-Windows-8B0F45724F3D2B7DEF42969AEED5B6C4/CrashReportClient.ini
Saved/Config/CrashReportClient/UECC-Windows-979EC6E540AFFB62B913748A031A5301/CrashReportClient.ini
Saved/Config/CrashReportClient/UECC-Windows-A8EFBB304073D2DF2301B186410F7260/CrashReportClient.ini
Saved/Config/CrashReportClient/UECC-Windows-B555DB2E45FDB95818A400AA10D73252/CrashReportClient.ini
Saved/Config/CrashReportClient/UECC-Windows-B58189534705250EC7CDE8B1EC00178C/CrashReportClient.ini
Saved/Config/CrashReportClient/UECC-Windows-B940001D4A879B3188904FA34C52A3CB/CrashReportClient.ini
Saved/Config/CrashReportClient/UECC-Windows-E2BAFF584A5E0B6B03A5EE825F4985FC/CrashReportClient.ini
Saved/Config/CrashReportClient/UECC-Windows-EC8749E74C87969037C565972983775F/CrashReportClient.ini
Saved/Config/CrashReportClient/UECC-Windows-EDFEF04B4C5F7C0132D3229D7E98BF3B/CrashReportClient.ini
Saved/Config/WindowsEditor/EditorPerProjectUserSettings.ini
Saved/Config/WindowsEditor/Project.ini
Saved/Logs/MyVRBow-backup-2024.06.06-04.12.15.log
Saved/Logs/MyVRBow-backup-2024.06.06-05.30.51.log
Saved/Logs/MyVRBow.log
Saved/Logs/MyVRBow_2-backup-2024.06.05-12.24.22.log
Saved/Logs/MyVRBow_2.log
Saved/SourceControl/UncontrolledChangelists.json
/Intermediate
/Build
/Binaries
/.idea
.vsconfig
/.vs
/Config
.gitattributes
/Content/Characters
/Content/FPWeapon
/Content/LevelPrototyping
/Content/Medieval_Archery
/Content/VRSpectator
*.zip
